In [1]:
import pandas as pd

In [7]:
df = pd.read_excel('D:\AI\Dataset\onedata.xlsx')

In [9]:
df.head()

    buyer  fruits  gender  value
0     ali   apple    male      2
1    noor   mango    male      3
2   wajid  orange  female      4
3  kariim  banana    male      4

# using pandas

In [14]:
pd.get_dummies(data=df, columns=['buyer','fruits','gender'],dtype=int,drop_first='first')

,value,buyer_kariim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,2,0,0,0,0,0,0,1
1,3,0,1,0,0,1,0,1
2,4,0,0,1,0,0,1,0
3,4,1,0,0,1,0,0,1

# With sklearn OneHotEncoder

# When sparse=True,the encoded output is returned as a sparse matrix,while sparse = Flase returns a sense matrix

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
ohe = OneHotEncoder(drop='first',dtype=int,sparse=False)

In [21]:
df_trans = ohe.fit_transform(df[['buyer','fruits','gender']])

C:\Users\admin\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [22]:
df_trans

array([[0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 1]])

In [24]:
cols = ohe.get_feature_names_out()

In [25]:
cols

array(['buyer_kariim', 'buyer_noor', 'buyer_wajid', 'fruits_banana',
       'fruits_mango', 'fruits_orange', 'gender_male'], dtype=object)

In [26]:
df_trans

array([[0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 1]])

In [27]:
pd.DataFrame(data=df_trans,columns=cols)

,buyer_kariim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,1
2,0,0,1,0,0,1,0
3,1,0,0,1,0,0,1