In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("D:\AI\Dataset\CAR DETAILS FROM CAR DEKHO.csv",usecols=['name','seller_type','transmission','owner','fuel'])

In [3]:
df.head()

                       name    fuel seller_type transmission         owner
0             Maruti 800 AC  Petrol  Individual       Manual   First Owner
1  Maruti Wagon R LXI Minor  Petrol  Individual       Manual   First Owner
2      Hyundai Verna 1.6 SX  Diesel  Individual       Manual   First Owner
3    Datsun RediGO T Option  Petrol  Individual       Manual   First Owner
4     Honda Amaze VX i-DTEC  Diesel  Individual       Manual  Second Owner

# To summarize

 Ordinal variables -->OrdinalEncoder: Owner,Seller_type, Transmission
Target or label variables -->> label encoder: fuel

# using Python

In [4]:
df.drop('name',axis=1,inplace=True) # In this data fuel is input data

In [5]:
df

        fuel seller_type transmission         owner
0     Petrol  Individual       Manual   First Owner
1     Petrol  Individual       Manual   First Owner
2     Diesel  Individual       Manual   First Owner
3     Petrol  Individual       Manual   First Owner
4     Diesel  Individual       Manual  Second Owner
...      ...         ...          ...           ...
4335  Diesel  Individual       Manual  Second Owner
4336  Diesel  Individual       Manual  Second Owner
4337  Petrol  Individual       Manual  Second Owner
4338  Diesel  Individual       Manual   First Owner
4339  Petrol  Individual       Manual   First Owner

[4340 rows x 4 columns]

In [6]:
df['transmission'].value_counts() # --> twwo categorical data

transmission
Manual       3892
Automatic     448
Name: count, dtype: int64

In [7]:
df['trans_new'] = df['transmission'].map({'Manual': 0, 'Automatic': 1})

In [8]:
df.sample(5)

        fuel seller_type transmission         owner  trans_new
243   Petrol  Individual       Manual  Second Owner          0
786   Diesel  Individual       Manual  Second Owner          0
3256  Diesel  Individual    Automatic   First Owner          1
2680  Petrol  Individual       Manual   First Owner          0
2582  Diesel  Individual    Automatic   First Owner          1

In [9]:
# df['seller_type'].value_counts()

In [10]:
#df['seller_new'] = df['seller_type'].map({'Indivisual': 0, 'Dealer': 1,'Trustmark Dealer':2 })
#df.sample(5)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test = train_test_split(df.drop('fuel',axis=1),df['fuel'],test_size=0.2,random_state=42)

In [14]:
y_train

227     Diesel
964     Diesel
2045    Petrol
1025    Diesel
4242    Diesel
         ...
3444    Diesel
466     Diesel
3092    Diesel
3772    Diesel
860     Petrol
Name: fuel, Length: 3472, dtype: object

# Using Scikit-learn

In [15]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

# 1.Applying Label Encoder

In [18]:
le = LabelEncoder() #  it is used in the target value

In [20]:
y_train_scalled = le.fit_transform(y_train)
y_test_scalled = le.transform(y_test)

In [22]:
y_train_scalled

array([1, 1, 4, ..., 1, 1, 4])

# 2.Ordinal Encoder

In [26]:
from sklearn.preprocessing import OrdinalEncoder

In [31]:
oe = OrdinalEncoder()

In [33]:
X_train_traf = oe.fit_transform(X_train)
X_test_traf = oe.transform(X_test)

In [34]:
X_train_traf

array([[1., 1., 0., 0.],
       [1., 1., 0., 0.],
       [1., 1., 2., 0.],
       ...,
       [0., 1., 0., 0.],
       [1., 1., 0., 0.],
       [1., 1., 0., 0.]])