In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("D:\\AI\\Dataset\\tanbir.csv")

In [9]:
df.head()

   0    A    B   C     D
0  0  1.0  NaN  1.0  1.0
1  1  2.0  2.0  2.0  2.0
2  2  3.0  3.0  NaN  3.0
3  3  NaN  2.0  4.0  4.0
4  4  5.0  5.0  5.0  NaN

In [10]:
df.isnull().sum()

0     0
A     1
B     1
C     1
D     1
dtype: int64

 # Simple Imputer

In [14]:
from sklearn.impute import SimpleImputer

In [15]:
simple = SimpleImputer()

In [19]:
simple_mean  = SimpleImputer(strategy='mean')
df['B'] = simple_mean.fit_transform(df[['B']])

In [20]:
df

   0     A    B   C     D
0  0  1.00  3.0  1.0  1.0
1  1  2.00  2.0  2.0  2.0
2  2  3.00  3.0  NaN  3.0
3  3  2.75  2.0  4.0  4.0
4  4  5.00  5.0  5.0  NaN

In [22]:
simple_mean = SimpleImputer(strategy='most_frequent')
df['B'] = simple_mean.fit_transform(df[['B']])

In [23]:
df

   0     A    B   C     D
0  0  1.00  3.0  1.0  1.0
1  1  2.00  2.0  2.0  2.0
2  2  3.00  3.0  NaN  3.0
3  3  2.75  2.0  4.0  4.0
4  4  5.00  5.0  5.0  NaN

In [24]:
df.fillna(0)

   0     A    B   C     D
0  0  1.00  3.0  1.0  1.0
1  1  2.00  2.0  2.0  2.0
2  2  3.00  3.0  0.0  3.0
3  3  2.75  2.0  4.0  4.0
4  4  5.00  5.0  5.0  0.0